*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Handlee', cursive;
}

a{
    cursor: pointer;
}

a:visited , a:hover {
    color: black;
    transition: ease .5s;
    font-size: 1.8rem;
}

body{
    height: 100vh;
    border: 3px solid black;
    margin:1rem 12% 0 12%;
}

.container {
    height: 100%;
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    border-bottom: 2px dashed ;
}

header h1{
    text-transform: uppercase;
    font-weight: normal;
}

header img {
    height: 100px;
}

header input {
    height: 1.5rem;
    padding: .5rem;
    width: 10rem;
    font-size: .9rem;
    border: none;
    border-bottom: 2px solid #000000ab;
    background-color: antiquewhite;
    letter-spacing: .1rem;
}

header input:focus{
    outline: none;
}

header button {
    padding: .6rem;
    border-radius: 15px;
    font-weight: 600;
    margin-left: 1rem;
    border: none;
    cursor: pointer;
    background-color: rgb(252, 210, 156);
    transition: ease .5s;
    letter-spacing: .1rem;
}

header button:hover{
    background-color: rgb(241, 184, 108);
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    }

ul li {
    font-size: 24px;
}

.done{
    text-decoration: line-through;
}